<!DOCTYPE html>

<head>
<style>
    .code { font-family: monospace }
    .leak-trace-full { display: none }
    #chart { float: none }
    #mem-traces { float: right; padding-left: 80px; width: 300px }
    #summary { float: none}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    {% import 'js_chart_macros.js' as js_chart with context %}
    {{ js_chart.mem_profile_chart('create_chart') }}
    document.addEventListener("DOMContentLoaded", function(){
        create_chart();
    });
</script>
<title> {{ title }} </title>
</head>

<body>
<div id="main-tab">
    <div id="chart"></div>
</div>

<div id="profile">
    <div class="mem-trace" id="mem-trace">
    </div>
</div>
</body>
</html>
